<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

<head>
    <link rel="shortcut icon" href="{{ site.favicon }}">

    <!-- Metadata-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    {%- seo -%}
    {% if site.google_analytics %}
    {% include extensions/google-analytics.html %}
    {% endif %}

    <!-- External CSS -->
    <!-- link rel="stylesheet" href="..." integrity="..." crossorigin="anonymous" referrerpolicy="no-referrer" /-->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">

</head>

<body>
    {% include sections/navbar.html %}
    {{ content }}
    {% include sections/footer.html %}
</body>

<!-- External JS -->
<!--script src="..." integrity="..." crossorigin="anonymous" referrerpolicy="no-referrer"></script-->

<!-- Custom JS -->
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>

</html>